#main--container{
    margin-left: 20%;
    margin-right: 20%;
}
#whhlogo{
    border-style:groove
}
#navmenu{
    
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
